<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">

  <title>Document</title>
</head>
<body>

<!--Sol Navbar-->
<div class="side-nav">
  <div class="side-nav-icon-container">
    <a href="#" class="menu-icon">
      <img src="https://cdn-icons-png.flaticon.com/512/545/545705.png" alt="">
    </a>
    <div class="side-nav-icons">
      <a href="#" class="side-nav-icon">
        <img src="https://cdn-icons-png.flaticon.com/512/2948/2948025.png" alt="">
      </a>
    </div>
    <div class="side-nav-icons">
      <a href="#" class="side-nav-icon">
        <img src="https://cdn-icons-png.flaticon.com/512/2948/2948031.png" alt="">
      </a>
    </div>
    <div class="side-nav-icons">
      <a href="#" class="side-nav-icon">
        <img src="https://cdn-icons-png.flaticon.com/512/3997/3997683.png" alt="">
      </a>
    </div>
    <div class="side-nav-icons">
      <a href="#" class="side-nav-icon">
        <img
          src="https://cdn-icons.flaticon.com/png/512/3503/premium/3503296.png?token=exp=1657011690~hmac=df963c6dd90b3936c2090dd6a3653bce"
          alt="">
      </a>
    </div>
    <div class="side-nav-icons">
      <a href="#" class="side-nav-icon">
        <img src="https://cdn-icons-png.flaticon.com/512/7582/7582293.png" alt="">
      </a>
    </div>
  </div>
</div>

<!--Header-->
<header class="header">
  <a href="#">
    <img src="https://cdn-icons-png.flaticon.com/512/1384/1384060.png" alt="youtube-logo" class="youtube-logo">
  </a>
  <form class="search-bar">
    <input type="search" class="search-input" placeholder="Ara" aria-label="Ara">
    <button type="submit" class="search-btn">
      <img src="https://cdn-icons-png.flaticon.com/512/483/483356.png" alt="search" srcset="">
    </button>
    <a href="#">
      <img src="https://cdn-icons-png.flaticon.com/512/1082/1082810.png" class="voice-search" alt="" srcset="">
    </a>
  </form>
  <div class="nav-icons">
    <a href="#">
      <img
        src="https://cdn-icons.flaticon.com/png/512/3031/premium/3031708.png?token=exp=1657018816~hmac=828bd3182fcd237ab3dec85470948f37"
        alt="upload" srcset="">
    </a>
    <a href="#">
      <img
        src="https://cdn-icons.flaticon.com/png/512/2989/premium/2989817.png?token=exp=1657018912~hmac=2f0da1142f041ee87c5b483e05eb23b2"
        alt="upload" srcset="">
    </a>
    <a href="#">
      <img src="https://cdn-icons-png.flaticon.com/512/1827/1827422.png" alt="upload" srcset="">
    </a>
    <a href="" target="_blank">
      <img
        src="https://cdn-icons.flaticon.com/png/512/2173/premium/2173478.png?token=exp=1657019067~hmac=9339446d6ff4840350837709d7e4f289"
        alt="" class="profile-icon">
    </a>
  </div>
</header>

<!--Categorys-->
<div class="categories">
  <div class="category-container">
    <a href="#" class="category selected">Tümü</a>
    <a href="#" class="category">Oyun</a>
    <a href="#" class="category">Müzik</a>
    <a href="#" class="category">Mix'ler</a>
    <a href="#" class="category">Canlı</a>
    <a href="#" class="category">Fitness</a>
    <a href="#" class="category">Yemek pişirme programları</a>
    <a href="#" class="category">Aksiyon-macera oyunları</a>
    <a href="#" class="category">Görsel sanatlar</a>
    <a href="#" class="category">Rap yapma</a>
    <a href="#" class="category">Yemek pişirme</a>
    <a href="#" class="category">Rol yapma</a>
    <a href="#" class="category">Yeni öneriler</a>
    <a href="#" class="category">İzlenenler</a>
  </div>
</div>

<!-- Ana orta alan -->
<section class="videos">
  <div class="video-container">
    <div class="video">
      <a href="https://www.youtube.com/watch?v=GmgMpq8JDq0" class="thumbnail">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRyz1ijeacvTZ9OobxIrzqCcHIZJKF9wKCZJQ&usqp=CAU"
          alt="thumbnail">
      </a>
      <div class="video-content">
        <a href="#">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRyz1ijeacvTZ9OobxIrzqCcHIZJKF9wKCZJQ&usqp=CAU" alt="" class="channel-icon">
        </a>
        <div class="video-infos">
          <a href="#" class="video-title">Kedi Bakımı Nasıl Olur?</a>
          <a href="#" class="channel-name">Günlük Kedy Dozu</a>
          <a href="#" class="video-info">10.548 görüntülenme • 2 ay önce</a>
        </div>
      </div>
    </div>
  </div>
</section>






</body>
</html>
<router-outlet></router-outlet>
